@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #0f97d1;
    color: rgb(1, 6, 72);
    text-align: center;
    text-decoration:wavy underline;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Unbounded', cursive;
    font-size: 60px;
    height: 200px;
    margin: 10px 100px;
    padding-top: 25px;
    border: 2px solid black;
}

#halfBlock{
    height: 150px;
    width: 50%;
    background-color: indigo;
}

#innerBlock{
    height: 100%;
    width: 50%;
    background-color: yellowgreen;
}


/* h1{
    background-color: black;
    color: white;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    transform: rotate(180deg);
}

#tallHeader{
    height: 100px;
}

h2, #tallHeader{
    text-align: center;
}

ul > li{
    background-color: orangered;
    color:limegreen;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 20px;
}

.redBackground{
    background-color: red;
} */